<app-header [title]="'Home'" [showLogo]="true" [showBackButton]="false">
</app-header>

<ion-content id="main-content">
  <h1 style="color: #ffc107 !important" class="title">Contact</h1>
  <p style="color: white !important; text-align: center; font-size: 19px">
    Please fill the following form to contact us:
  </p>

  <div class="form-container" style="background-color: white !important">
    <ion-item>
      <ion-label style="font-size: 18px !important" position="stacked">
        Email<span style="color: #d30c0c">*</span>
      </ion-label>
      <ion-input
        style="padding-left: 12px"
        name="email"
        type="email"
        [(ngModel)]="element.email"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="font-size: 18px !important" position="stacked">
        Name<span style="color: #d30c0c">*</span>
      </ion-label>
      <ion-input
        style="padding-left: 12px"
        name="name"
        type="text"
        [(ngModel)]="element.name"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="font-size: 18px !important" position="stacked">
        Subject<span style="color: #d30c0c">*</span>
      </ion-label>
      <ion-input
        style="padding-left: 12px"
        name="subject"
        type="text"
        [(ngModel)]="element.subject"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label style="font-size: 18px !important" position="stacked">
        Message<span style="color: #d30c0c">*</span>
      </ion-label>
      <ion-textarea
        style="border: 1px solid black; padding-left: 12px"
        rows="5"
        name="message"
        type="text"
        [(ngModel)]="element.message"
        required
      ></ion-textarea>
    </ion-item>

    <!-- Correct structure with ion-item wrapper: -->
    <ion-item>
      <ion-label style="font-size: 18px !important" position="stacked">
        Captcha<span style="color: #d30c0c">*</span>
      </ion-label>

      <div
        class="captcha-container1"
        style="margin-top: 8px; margin-bottom: 8px"
      >
        <p class="captcha">{{ formattedCaptcha }}</p>
        <img
          src="https://dynamiccoupons.com/images/refresh4.png"
          (click)="refreshCaptcha()"
          alt="Refresh CAPTCHA"
          class="refresh-icon"
          style="cursor: pointer; width: 24px; height: 24px; margin-left: 20px"
        />
      </div>

      <ion-input
        style="padding-left: 12px"
        name="captcha"
        type="text"
        [(ngModel)]="captchaInput"
        placeholder="Enter CAPTCHA"
        required
        (ionInput)="isCaptchaInvalid = false"
      ></ion-input>

      <p
        *ngIf="isCaptchaInvalid"
        style="color: #d30c0c; font-size: 14px; margin-top: 4px"
      >
        Invalid CAPTCHA, please try again.
      </p>
    </ion-item>

    <div class="login-button">
      <ion-button expand="block" (click)="registerForm(element)"
        >Send</ion-button
      >
    </div>
  </div>
</ion-content>
