<ion-header style="background-color: #08b8da">
  <ion-toolbar color="primary" class="mytoolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- CENTER LOGO -->
    <ion-title class="ion-text-center">
      <img
        src="assets/icon/logo.png"
        alt="Logo"
        style="width: 90% !important; margin: auto; display: block"
      />
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="title-container">
    <h1
      style="
        color: #ffc107 !important;
        text-align: center;
        margin: 0;
        font-family: 'Lobster' !important;
      "
      class="title"
    >
      Contact
    </h1>
    <p
      style="
        color: white !important;
        text-align: center;
        font-size: 19px;
        margin: unset;
        padding: 15px 0px;
      "
    >
      Please fill the following form to contact us:
    </p>
  </div>
</ion-header>

<ion-content>
  <div
    class="form-container"
    style="background-color: white !important; padding: 40px 20px"
  >
    <div style="margin-bottom: 12px">
      <ion-label style="font-size: 18px !important" position="stacked">
        Email<span style="color: #d30c0c">*</span>
      </ion-label>
      <ion-input
        style="border: 1px solid black; padding-left: 12px"
        name="email"
        type="email"
        [(ngModel)]="element.email"
        required
      ></ion-input>
    </div>

    <div style="margin-bottom: 12px">
      <ion-label style="font-size: 18px !important" position="stacked">
        Name<span style="color: #d30c0c">*</span>
      </ion-label>
      <ion-input
        style="border: 1px solid black; padding-left: 12px"
        name="name"
        type="text"
        [(ngModel)]="element.name"
        required
      ></ion-input>
    </div>

    <div style="margin-bottom: 12px">
      <ion-label style="font-size: 18px !important" position="stacked">
        Subject<span style="color: #d30c0c">*</span>
      </ion-label>
      <ion-input
        style="border: 1px solid black; padding-left: 12px"
        name="subject"
        type="text"
        [(ngModel)]="element.subject"
        required
      ></ion-input>
    </div>

    <div style="margin-bottom: 12px">
      <ion-label style="font-size: 18px !important" position="stacked">
        Message<span style="color: #d30c0c">*</span>
      </ion-label>
      <ion-textarea
        style="border: 1px solid black; padding-left: 12px"
        rows="5"
        name="message"
        type="text"
        [(ngModel)]="element.message"
        required
      ></ion-textarea>
    </div>

    <div>
      <ion-label style="font-size: 18px !important" position="stacked">
        Captcha<span style="color: #d30c0c">*</span>
      </ion-label>

      <div
        class="captcha-container1"
        style="
          margin-top: 10px;
          padding-top: 25px;
          padding-bottom: 25px;
          border-top: solid grey 0.1px;
        "
      >
        <p class="captcha" style="margin: unset">{{ formattedCaptcha }}</p>
        <img
          src="https://dynamiccoupons.com/images/refresh4.png"
          (click)="refreshCaptcha()"
          alt="Refresh CAPTCHA"
          class="refresh-icon"
          style="cursor: pointer; width: 24px; height: 24px; margin-left: 20px"
        />
      </div>

      <ion-input
        style="
          border: 1px solid black;
          padding-left: 12px !important;
          width: 75%;
          margin: auto;
          min-height: 50px;
          font-size: 14px;
        "
        name="captcha"
        type="text"
        [(ngModel)]="captchaInput"
        placeholder="Enter CAPTCHA"
        required
        (ionInput)="isCaptchaInvalid = false"
      ></ion-input>

      <p
        *ngIf="isCaptchaInvalid"
        style="color: #d30c0c; font-size: 14px; margin-top: 4px"
      >
        Invalid CAPTCHA, please try again.
      </p>
    </div>

    <div
      class="login-button"
      style="
        width: 40%;
        margin: auto;
        padding: 10px 0;
      "
    >
      <ion-button expand="block" (click)="registerForm(element)"
        >Send</ion-button
      >
    </div>
  </div>
</ion-content>
