<ion-header style="background-color: #08b8da">
  <ion-toolbar color="primary" class="mytoolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- CENTER LOGO -->
    <ion-title class="ion-text-center">
      <img
        src="assets/icon/logo.png"
        alt="Logo"
        style="width: 90% !important; margin: auto; display: block"
      />
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="border">
    <div [hidden]="viewmodal">
      <ion-card
        style="margin-top: 5% !important; margin-bottom: 5% !important"
        class="couponPg"
        [hidden]="viewredeem"
        (click)="nextPage(details.web_id, details.web_coupons_merchant_type, details.web_coupon_circulation, details.web_coupon_url)"
      >
        <ion-card-header>
          <ion-card-title class="title"
            >{{details.web_coupon_title}}</ion-card-title
          >
          <div class="center">
            <img
              src="https://www.dynamiccoupons.com/webupload/thumb/coupons/{{details.web_coupon_image}}"
              *ngIf="details.web_coupon_image !== '' && details.image_type == 'img_upload'"
              alt="Local Offer"
            />
            <img
              src="{{details.web_coupon_image_url}}"
              *ngIf="details.image_type == 'img_link'"
              alt="Local Offer"
            />
            <img
              src="https://www.dynamiccoupons.com/webupload/thumb/default/default.png"
              *ngIf="details.web_coupon_image === '' && details.image_type == 'img_upload' "
            />
          </div>
        </ion-card-header>
        <ion-card-content>
          <div class="inner-css" [innerHTML]="sanitizedHtml"></div>
          <h3
            *ngIf="details.web_coupon_id !=''"
          >
            Coupon ID : {{details.web_coupon_id}}
          </h3>
          <h4>
            Valid Up To: {{details.web_coupon_expiredate}}
          </h4>
          <h3 class="company">
            {{details.web_coupon_bname}}
          </h3>
          <div class="para">
            <p>Address: {{details.web_coupon_address}}</p>
            <p>
              {{details.web_coupon_city}}, {{details.web_coupon_state}},
              {{details.web_coupon_postalcode}}
            </p>
            <p>{{details.web_coupon_country}}</p>
          </div>
          <a
            *ngIf="details.web_coupon_url !='' || details.web_coupon_url != 'Not Available'"
            (click)="inappclick(details.web_coupon_url)"
            >Visit website <br /><img
              src="https://www.dynamiccoupons.com/images/image002.gif"
          /></a>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="login-button">
      <button
        style="width: 65%; font-size: 1.5rem"
        *ngIf="details.web_coupon_circulation !== '' && details.count_share < details.web_coupon_circulation && 
               (details.web_coupons_merchant_type === '1' || details.web_coupons_merchant_type === '2')"
        ion-button
        [hidden]="viewredeem"
        (click)="presentAlert()"
      >
        View Redeem Options
      </button>
      <!-- Show 'Circulation has Ended' when circulation is exceeded or matched -->
      <button
        *ngIf="details.web_coupon_circulation !== '' && details.count_share >= details.web_coupon_circulation && 
               (details.web_coupons_merchant_type === '1' || details.web_coupons_merchant_type === '2')"
        ion-button
        [hidden]="viewredeem"
      >
        Circulation has Ended
      </button>
      <button
        style="margin-top: 5% !important"
        ion-button
        [hidden]="!viewredeem"
        (click)="viewredeem = !viewredeem"
      >
        Back to Offer
      </button>
    </div>
    <div *ngIf="details.web_coupon_address !== ''">
      <div
        [hidden]="viewredeem"
        #map
        style="height: 400px; margin: 5% 0% 10% 0%"
      ></div>
    </div>
    <datalist id="emailHistory">
      <option *ngFor="let option of emailHistory" [value]="option"></option>
    </datalist>

    <div [hidden]="!viewmodal">
      <p>Before View Redeem Options Enter your Email Address!</p>
      <ion-input
        name="email"
        type="email"
        value="emailredeem"
        placeholder="Email Address"
        [(ngModel)]="name"
        required
      ></ion-input>
    </div>
    <datalist id="browsers">
      <option value="Chrome@gmail.com"></option>
      <option value="Firefox@gmail.com"></option>
      <option value="Safari@gmail.com"></option>
      <option value="Edge@gmail.com"></option>
      <option value="Opera@gmail.com"></option>
    </datalist>
    <!-- <div [hidden]="viewmodal">
      <ion-card
        style="margin-top: 5% !important; margin-bottom: 5% !important"
        class="couponPg redeempg"
        [hidden]="!viewredeem"
      >
        <ion-card-header>
          <ion-card-title
            style="word-wrap: break-word !important; margin-top: 5% !important"
            >{{details.web_coupon_title}}</ion-card-title
          >
          <div class="center">
            <img src="{{details.web_qrcode}}" />
          </div>
          <p
            style="
              font-size: 20px !important;
              font-family: 'Lobster';
              color: black;
            "
          >
            {{details.web_coupon_bname}}
          </p>
          <p
            style="
              font-size: 20px !important;
              font-family: 'Lobster';
              color: black;
            "
          >
            Valid up to: {{details.web_coupon_expiredate}}
          </p>
        </ion-card-header>
        <ion-card-content>
          <div [innerHTML]="details.web_redeem_option_info"></div>
          <ion-item>
            <ion-label slot="start">Print Coupon with Image</ion-label>
            <ion-checkbox
              color="primary"
              [(ngModel)]="imageAttach"
            ></ion-checkbox>
          </ion-item>
          <div class="login-button">
            <button
              style="font-size: 10px !important"
              ion-button
              block
              (click)="printAlertPrompt()"
            >
              Email this/all Selected Coupons to Print
            </button>
          </div>
          <div class="login-button">
            <button ion-button block (click)="printlistsave()">
              Add Coupon to the Email/Print List
            </button>
          </div>
        </ion-card-content>
      </ion-card>
    </div> -->
  </div>
  <div [hidden]="!viewredeem">
    <p style="font-size: 16px !important; color: white; text-align: center">
      Use coupon before the expiration date.
    </p>
    <p style="font-size: 16px !important; color: white; text-align: center">
      QR code scan is at merchant’s discretion.
    </p>
  </div>
</ion-content>
