<ion-app>
  <!-- Main Menu -->
  <ion-menu contentId="main-content" menuId="main-menu" side="end">
    <ion-header>
      <ion-toolbar class="menu-toolbar" style="--background: #08b8da">
        <img
          src="assets/icon/logo.png"
          alt="Logo"
          class="menu-logo"
          (click)="closeMenu()"
        />
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu-content">
      <ion-list lines="none" class="menu-list">
        <!-- Use routerLink with exact path -->
        <ion-item
          button
          detail="false"
          routerLink="/search"
          routerDirection="root"
          (click)="closeMenu()"
        >
          <ion-label style="font-size: 14px;">Search Offers / Deals</ion-label>
        </ion-item>

        <ion-item
          button
          detail="false"
          routerLink="/coupon/local"
          routerDirection="root"
          (click)="closeMenu()"
        >
          <ion-label style="font-size: 14px;">
            {{ 'Browse Local Offers / Grocery Flyers / Freebies etc' | slice:0:28 }}...
          </ion-label>        
        </ion-item>

        <ion-item
          button
          detail="false"
          routerLink="/coupon/national"
          routerDirection="root"
          (click)="closeMenu()"
        >
          <ion-label style="font-size: 14px;">
            {{ 'Browse National / Online offers' | slice:0:28 }}...
          </ion-label>     
        </ion-item>

        <ion-item
          button
          detail="false"
          routerLink="/privacy"
          routerDirection="root"
          (click)="closeMenu()"
        >
          <ion-label style="font-size: 14px;">Privacy Policy</ion-label>
        </ion-item>

        <ion-item
          button
          detail="false"
          (click)="
            openExternalLink(
              'https://www.dynamiccoupons.com/donation_index.php'
            )
          "
        >
          <ion-label style="font-size: 14px;">Let's Fundraise Together</ion-label>
        </ion-item>

        <ion-item
          button
          detail="false"
          (click)="openExternalLink('https://www.dynamiccoupons.com/faq.php')"
        >
          <ion-label style="font-size: 14px;">FAQ</ion-label>
        </ion-item>

        <div class="menu-notice">
          <p style="font-size: 19px;">
            Report any inappropriate or age-inappropriate ads or any questions
            or concerns via our form below.
          </p>
        </div>

        <ion-item
          button
          detail="false"
          routerLink="/contact"
          routerDirection="root"
          (click)="closeMenu()"
        >
          <ion-label style="font-size: 14px;">Contact us</ion-label>
        </ion-item>
      </ion-list>

      <div class="menu-footer" style="text-align: center">
        <img
          src="assets/images/copy.png"
          alt="Copyright"
          class="copyright-img"
          style="margin-top: 7%; width: 17%"
        />
        <div class="copyright-year">2025</div>

        <div class="website-link" style="margin-bottom: 25px">
          <a
            (click)="openExternalLink('https://www.dynamiccoupons.com')"
            style="
              border-bottom: 1px solid black;
              cursor: pointer;
              color: black;
              font-size: 17px;
            "
            >dynamiccoupons.com</a
          >
        </div>
      </div>
    </ion-content>
  </ion-menu>

  <!-- Main Content Area -->
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>

    <!-- Global Banner Ad Container -->
    <div id="global-banner-ad" class="banner-ad-container"></div>
  </div>
</ion-app>
