.banner-ad-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: transparent;
  pointer-events: auto;

  height: 100px;
}

#main-content {
  padding-bottom: 100px;
  min-height: 100vh;
  box-sizing: border-box;
}

ion-menu-open .banner-ad-container {
  display: none;
}
